<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>167777517376-3c694md7ldbg1dv9vui8q2hb5kpdmm01.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167777517376-3c694md7ldbg1dv9vui8q2hb5kpdmm01</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>167777517376-0pa3ofk3b37ehl81mq9t0gv3qs6mgr44.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDxKffAypzsM5i5on707Q_iEgItdJnF8lg</string>
	<key>GCM_SENDER_ID</key>
	<string>167777517376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hro.hroth</string>
	<key>PROJECT_ID</key>
	<string>hro-authen</string>
	<key>STORAGE_BUCKET</key>
	<string>hro-authen.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167777517376:ios:2741519a3da806a20544a5</string>
</dict>
</plist>